    :root {
        --White: hsl(0, 0%, 100%);

        --Slate300: hsl(212, 45%, 89%);
        --Slate500: hsl(216, 15%, 48%);
        --Slate900: hsl(218, 44%, 22%);
    }
    
    
    body {
        margin: 0;
        font-family: 'Outfit';
        font-size: 1rem;
        background-color: var(--Slate300);

    }

    p{
        font-size: 15px;
        font-weight: 400;
        padding: 0 12px 0 12px;
        margin: 0 0 15px 0;
        color: var(--Slate500);
    }

    h1 {
        font-size: 20px;
        font-weight: 700;
        padding: 0 10px;
    }

    .card-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 300px;
        height: auto;
        padding: 15px;
        background-color: var(--White);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 15px;
        box-shadow: 5px 10px 5px 8px rgba(0, 0, 0, 0.03);
        box-sizing: border-box;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

